@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategori Güncelleme</h2>

@using(Html.BeginForm("EditCategory","AdminCategory",FormMethod.Post))
 {
     <div>
         @Html.LabelFor(model => model.Id)
         @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
         <br />
         @Html.LabelFor(model => model.Name)
         @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
         <br />
         @Html.LabelFor(model => model.Description)
         @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
     </div>
     <br /><br />
     <div>
         <input class="btn btn-success" type="submit" value="Güncelle"/>
     </div>
 }